.dropdown:hover .dropdown-menu,
.dropup:hover .dropdown-menu {
  display: block;
}
.navbar {
  background-color: #4ecab8;
  border-radius: 0px;
  border: none;
  font-size: 15px;
  margin-bottom: 50px;
}
.navbar .navbar-nav li > a {
  color: #F2F2F2;
}
.navbar .navbar-nav li > a:hover {
  font-weight: 600;
  color: #F2F2F2;
}
.navbar .navbar-nav .dropdown-menu {
  min-width: 260px;
  padding: 7px 0;
  background-color: #F9F9F9;
  border: 2px solid #C2C2C2;
  border-radius: 5px;
  margin-top: -5px;
}
.navbar .navbar-nav .dropdown-menu .divider {
  margin: 5px 0;
}
.navbar .navbar-nav .dropdown-menu > li > a {
  overflow: hidden;
  padding: 7px 20px;
  font-weight: 300;
  color: #949494;
}
.navbar .navbar-nav .dropdown-menu > li > a.create-new {
  font-weight: 400;
}
.navbar .navbar-nav .dropdown-menu > li > a.create-new .group-icon {
  background-color: #D8D8D8;
  text-align: center;
  line-height: 42px;
  font-size: 20px;
}
.navbar .navbar-nav .dropdown-menu > li > a.create-new:hover {
  font-weight: 400;
}
.navbar .navbar-nav .dropdown-menu > li > a:hover {
  font-weight: 300;
  color: #949494;
  background-color: #F1F1F1;
}
.navbar .navbar-nav .dropdown-menu > li > a .group-icon {
  float: left;
  height: 40px;
  width: 40px;
  border-radius: 3px;
  margin-right: 15px;
}
.navbar .navbar-nav .dropdown-menu > li > a .team-name {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.navbar .navbar-nav .dropdown-menu > li > a .menu-label {
  line-height: 40px;
}
.navbar .navbar-nav .avatar {
  border: 1px solid #F2F2F2;
  margin: 5px;
  border-radius: 20px;
  height: 40px;
  width: 40px;
}
.group {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #888;
  overflow: hidden;
  line-height: 53px;
}
.group .name {
  font-weight: 600;
}
.add {
  margin: -53px 0 103px 0;
}
.add button {
  background-color: #f39c12;
  color: #fff;
  border: none;
  float: right;
  padding: 15px 10px;
  border-radius: 3px;
  box-shadow: 0 3px 0 #d18c1f;
  margin-bottom: 3px;
}
.feed .item {
  background-color: #F1F1F1;
  padding: 15px;
  margin: 15px -15px;
}
.feed .item .content {
  margin: 0 15px;
  font-weight: 300;
  color: #888;
}
.feed .item .social {
  margin: 45px 0 15px 0;
  line-height: 40px;
  font-weight: 300;
}
.feed .item .social i {
  font-size: 32px;
  margin-right: 30px;
  position: relative;
  top: 5px;
}
.feed .item .social i.like {
  color: #5ea7e4;
}
.feed .item .social i.favorite {
  color: #ffd23e;
}
.feed .item .social .total {
  color: #888;
  margin-right: 30px;
  line-height: 32px;
}
.feed .item .social a {
  margin-right: 30px;
  color: #333;
  font-weight: 600;
}
.feed .item .comments {
  margin: 0 -15px;
  padding: 15px 15px 0 15px;
  border-top: 1px solid #ddd;
}
.feed .item .comments .comment {
  padding: 0;
}
.feed .item .comments .profile.small {
  font-size: 14px!important;
  margin: 0;
}
.profile {
  color: #888;
  font-size: 18px;
  overflow: hidden;
  margin-bottom: 50px;
  font-weight: 300;
}
.profile .from {
  float: left;
}
.profile .from img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-right: 25px;
}
.profile .from .name {
  font-weight: 600;
}
.profile .when {
  float: right;
}
.profile.small {
  font-size: 16px;
  margin-bottom: 25px;
}
.profile.small .from img {
  height: 35px;
  width: 35px;
  border-radius: 17.5px;
  margin-right: 17.5px;
}
.post {
  margin-bottom: 50px;
}
.post .message {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 35px;
}
.post .social {
  font-size: 16px;
  color: #888;
  font-weight: 400;
}
.post .social button {
  background-color: #76dfd0;
  color: #fff;
  border: none;
  padding: 15px 10px;
  margin: 10px 15px 10px 0;
  border-radius: 3px;
  box-shadow: 0 3px 0 #4ecab8;
}
.post .social *::-webkit-input-placeholder {
  color: #fff;
}
.post .social .comment {
  width: 100%;
  background-color: #76dfd0;
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 15px 0 0 0;
  color: #fff;
  height: 43px;
  -webkit-transition: height 0.5s;
  resize: vertical;
}
.post .social .comment:focus {
  outline: none;
  height: 150px;
}
.comment {
  background-color: #f0f0f0;
  padding: 30px 20px;
  color: #888;
  border-radius: 3px;
  font-size: 14px;
}
.comment:not(:last-of-type) {
  margin: 0 0 15px 0;
}
.comment .content {
  font-weight: 300;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F9F9F9;
}
